.ChatRoom {
    /* width: 75%; */
    max-width: 500px;
    min-width: none;
    margin: 2rem auto;
    overflow-wrap: break-word;
    hyphens: auto;
    height: 50vh;
    /* border: 2px solid rgb(34, 34, 34); */
}

@media (max-width: 750px) {
    .ChatRoom {
        width: 95%;
    }
}

@media (min-width: 750px) {
    .ChatRoom {
        width: 70%;
    }
}

.ChatRoom .room-name {
    background-color: rgb(34, 34, 34);
    color: white;
    padding: 8px 0;
}

.ChatRoom h2 {
    margin: 0;
}

.ChatRoom .chat-body {
    background-color: whitesmoke;
    padding: 0.25rem 0.5rem;
    height: 100%;
}

.ChatRoom .message-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.ChatRoom .message-container::-webkit-scrollbar {
    display: none;
}

/* ********************************** */
.ChatRoom .message-container #message-self,
#message-other {
    padding: 0.5rem 1.1rem;
    border-radius: 5px;

    font-size: 0.9rem;
    margin: 16px 10px 0 8px;
}

.ChatRoom .message-container #message-self {
    /* background-color: #303030; */
    color: white;
    /* float: right; */
}

.ChatRoom .message-container #message-other {
    /* background-color: #7cacf8; */
    color: black;
    /* float: left; */
}

.ChatRoom .message {
    width: 70%;
}

.ChatRoom #self {
    display: block;
    float: right;
}

.ChatRoom #other {
    display: block;
    float: left;
}

/* ********************************** */
.ChatRoom p {
    margin: 0;
    text-align: left;
}

.ChatRoom #new-user {
    font-size: 0.8rem;
    /* padding-left: 1rem; */
    font-style: italic;
    margin: 8px 0 0 0;
    text-align: center;
    color: #4b8ffc;
}

.ChatRoom .message-info {
    font-size: 0.8rem;
}

.ChatRoom #message-info-other {
    text-align: left;
    padding-left: 18px;
}

.ChatRoom #message-info-self {
    text-align: right;
    padding-right: 20px;
}

.ChatRoom .chat-input {
    width: 100%;
}

.ChatRoom .chat-input input {
    width: 90%;
    padding: 10px 0;
    padding-left: 15px;
    margin-right: -15px;

    border: none;
}

.ChatRoom .chat-input button {
    width: 10%;
    padding: 10px 0;
    border: none;
    border-left: 1px solid black;
    background-color: #5fa624;
    color: white;
    cursor: pointer;
}

.ChatRoom .chat-input input:focus {
    outline: none;
}

.ChatRoom #change-button {
    background-color: #5fa624;
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 2rem;
}
