body {
    background-color: rgb(213, 213, 213);
}
.App {
    text-align: center;
    width: 75%;
    margin: 3rem auto;
    position: relative;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App h1 {
    color: #5fa624;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
